/* .card {
    display: flex;
    background: radial-gradient(2464.13% 850.69% at 100% 6.65%, #bb82db 0%, #636dc1 19.3%, #1d0f35 100%);
    border-radius: 10px;
    width: 255px;
    height: 436px;
    flex-wrap: wrap;
}

.main-card__img {
margin-top: 20px;
margin-left: 20px;
margin-right: 20px;
height: 215px;
width: 215px;
}

.main-card__title {
color: white;
height: 42px;
width: 242px;
margin-top: 12px;
margin-left: 20px;
margin-right: 20px;
text-align: center;
}
.main-card__bid {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 6px;

}

.main-card__minbid {
    width: 57px;
    height: 17px;
    font-family: "SF Pro Text";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #ffffff;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.main-card__minbid_price {
    width: 68px;
    height: 17px;
    font-family: "SF Pro Text";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    flex: none;
    order: 1;
    flex-grow: 0;
} */
